.faq {
    background-color: white;
    
    &__title{

    }
    &__question{

    }
    &__answer{

    }
    &__answer_hidden{
        display: none;
    }
    &__answer_showing{
        display: inline-block;
    }
}

.illustration{
    &__women{
    }
    &__pattern{
        z-index: -1;
    }
} 